snippet use
	\\usepackage{$1}

snippet sec
	\\section{$1}

snippet ssec
	\\subsection{$1}

snippet *
	\\textbf{${1:$TM_SELECTED_TEXT}}

snippet _
	\\emph{${1:$TM_SELECTED_TEXT}}

snippet -
	\\item $0

snippet bib
	\\bibliographystyle{chicago}
	\\bibliography{${1:\\jobname}}
