snippet use
	\\usepackage{$1}

snippet sec
	\\section{$1}

snippet ssec
	\\subsection{$1}

snippet bf
	\\textbf{$1}

snippet em
	\\emph{$1}

snippet it
	\\item $0

snippet bib
	\\bibliographystyle{chicago}
	\\bibliography{${1:\\jobname}}
