snippet //
	\\frac{$1}{$2}

snippet //p
	\\frac{\partial $1}{\partial $2}

snippet <=
	\\leq

snippet >=
	\\geq

snippet ==
	\\equiv

snippet ..
	\\ldots

snippet ++
	\\cdots

snippet inv
	^{-1}

snippet sum
	\\sum_{$1}^{$2}

snippet prod
	\\prod_{$1}^{$2}

snippet int
	\\int_{$1}^{$2}
