snippet #!
	#!/usr/bin/env python

snippet np
	import numpy as np

snippet pd
	import pandas as pd

snippet plt
	import matplotlib.pyplot as plt

snippet main
	def main():
		$1
	
	if __name__ == '__main__':
		main()
